*{
	margin: 0;
	padding: 0;
	font-family: "微软雅黑";
	font-size: 14px;
}
.main{
	float: left;
	width: 100%;
	height: 100%;
}
a{
	color: #333;
	/*text-decoration: none;*/
}
a:hover{
	color: #3CA5A0;
}
ul,li{
	padding: 0px;
	list-style: none;
}
img{
	border: none;
}
dl{
	margin-right: 10px;
	margin-top: 10px;
	float: left;
}
dt,dd{
	float: left;
	padding-right: 5px;
}
dd input{
	margin-left: 10px;
	margin-right: 2px;
	width: 100px;
	padding: 0px 2px;
}

.container{
	width: 1160px;
	height: 100%;
	margin: 0px auto;
	position: relative;
}
.fl{
	float: left;
}
.fr{
	float: right;
}

/*main css*/
.cm-top{
	width: 100%;
	height: 60px;
	border-bottom: 1px solid #CCCCCC;
	line-height: 60px;
	/*padding-left: 50px;*/
	
}

.cm-top a{
	font-size: 16px;
	display: inline-block;
	margin-right: 20px;
	text-decoration: none;
}
.cm-top a:first-child{
	color: #1ABC9C;
	border-bottom: 1px solid #1ABC9C;
	margin-left: 50px;
}
.cm-top a:hover{
	color: #3CA5A0;
}
.main-container{
	width: 300px;
	height: 400px;	
	margin: 50px 0px 10px 120px;
	/*margin-bottom: 10px;*/
	/*margin-right: 50px;*/
	/*background-color: #CCC;*/
	float: left;
}
.main-container2{
	width: 300px;
	height: 400px;	
	margin: 50px 30px 10px 0px;
	/*margin-bottom: 10px;*/
	/*margin-right: 50px;*/
	/*background-color: #CCC;*/
	float: left;
}

.main-container3{
	width: 420px;
	height: 400px;	
	margin: 50px 20px 10px 20px;
	/*margin-bottom: 10px;*/
	/*margin-right: 50px;*/
	/*background-color: #CCC;*/
	float: left;
	/*overflow: visible;*/
	/*padding-left: 30px;*/
}
