{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>营销激活</title>
		<link rel="stylesheet" type="text/css" href="{% static 'css/promotion.css' %}"/>
		<!--<script src="/static/js/jquery-1.11.1.min.js" type="text/javascript" charset="utf-8"></script>-->
		<!--<script src="/static/js/echarts.min.js" type="text/javascript" charset="utf-8"></script>-->
		<!--<script src="/static/js/promotion.js" type="text/javascript" charset="utf-8"></script>-->
	</head>
	<body class="main">
		<div class="cm-top">
			<a href="/dashboard">仪表盘</a>
			<a href="/silence" >个性激活</a>
			<a href="/promotion">营销激活</a>
		</div>
		
		<h1 style="font-size: 50px;font-family: '微软雅黑';text-align: center;margin-top: 150px;">Still Working on it!</h1>
		<p style="font-size: 30px;font-family: '微软雅黑';text-align: center;margin-top: 20px;">If you have any idea, please contact us by sending email to the following address: lvzq@chinamobilesz.com</p>
		
		<div class="main-container" id="main">
			
			
			
		</div>
	
		<!--main container end-->		
	</body>
	
</html>
